<html>
    <head>

    </head>
    <body>
        <header>

            <a href="/">Home</a>
            <a href="@Url.Action("Pessoas","Home")">Pessoas</a>
            <a href="@Url.Action("Cadastrar","Home")">Cadastrar</a>
            <a href="@Url.Action("Alterar","Home")">Alterar</a>
            <a href="@Url.Action("Excluir","Home")">Excluir</a>

        </header>


        @RenderBody()


        <footer>
            Copyright AtosUFN 2022
        </footer>
    </body>

</html>